/* éliminons Netscape 4 */
/*/*/

:root {
    font-size: calc(1rem + 0.25vw);
    --background-color: #fafafa;
    --content-background: #fff;
    --box-background: #f3f3f3;
    --text-color: #000;
    --greyed: #C0C0C0;
    --lower-grey: #555;
    --footnote-mark: #FFF9C7;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #050505;
        --content-background: #000;
        --box-background: #202020;
        --text-color: #d7d7d7;
        --greyed: #303030;
        --lower-grey: #EEE;
        --footnote-mark: #9F9767;
    }
}

body,html {
	background:var(--background-color); margin:0; padding:0;
	font-family:Optima,"Inclusive Sans","Lucida Grande",Verdana,Tahoma,Helvetica,Arial,sans-serif;
}

.contentfooter,.nav1,.topnav2,.topnav {
	font-family:"Copperplate Light",Copperplate,"Trebuchet MS",Verdana,"Bitstream Vera Sans",Helvetica,Arial,Geneva,Swiss,SunSans-Regular,sans-serif
}

.photo {
	background-color: white;
}

.box,.mt-timeline {
	background-color: var(--box-background);
	color: var(--text-color);
}

.content {
	background-color: var(--content-background);
	color: var(--text-color);
	line-height:1.5
}

h1 {
	color:#688
}

h3, h3 a:link, h3 a:visited, h3 a:hover, h3 a:active {
	color:var(--lower-grey) !important
}

kbd {
	font:medium "courier new",courier,monaco,monospace normal;
	color:#333
}

p {
	text-align:justify
}

td {
	border-style:none
}

caption {
	text-align:center
}

caption,.menu,.submenu {
	font-weight:bold
}

blockquote,address {
	line-height:1.1
}

blockquote {
	border-left:thin solid gray;
	padding-left:1em;
}

kbd,samp,code,dfn {
	line-height:1.2
}

dt {
	font-size:larger;
	font-weight:bold;
}
/* */

/* reproduction du comportement d'iCab et de Mozilla dans autres navigateurs */
/*/*/
.help,acronym,abbr {
	border-bottom:1px dotted #333;
	cursor:help
}

.dateofday {
	text-align:right;
	border-top:1px dotted gray;
	border-left:10px dotted #999;
	font-weight:normal
}

.submenu,.note {
	font-size:smaller
}

input {
    background-color:transparent;
    color: var(--text-color);
}

input#motcle {
    border-bottom-color: var(--box-background);
}

.note {
	font-style:italic
}

.red {
	color:red
}

.accent1 {
	border-top:1px dotted #933;
	border-left:5px outset #933;
	text-shadow:3px 3px 0.4em #C66
}

.accent1,.accent2,.accent3,.accent4,.accent5,.accent6 {
	padding-left:0.3em
}

.accent2 {
	border-top:1px dotted #393;
	border-left:5px dashed #393;
	text-shadow:3px 3px 0.4em #6C6
}

.accent3 {
	border-top:1px dotted #339;
	border-left:5px solid #339;
	text-shadow:3px 3px 0.4em #66C
}

.accent4 {
	border-top:1px dotted #993;
	border-left:5px dotted #993;
	text-shadow:3px 3px 0.4em #CC6
}

.accent5 {
	border-top:1px dotted #939;
	border-left:5px double #939;
	text-shadow:3px 3px 0.4em #C6C
}

.accent6 {
	border-top:1px dotted #399;
	border-left:5px groove #399;
	text-shadow:3px 3px 0.4em #6CC
}

.timestamp {
	text-shadow:none
}

.photo {
	border:solid 1px black;
	padding:10px
}

.content table {
border:3px solid var(--lower-grey);
border-collapse:collapse;
width:90%;
margin:auto;
}
.content thead, .content tfoot {
background-color:var(--greyed);
border:1px solid var(--lower-grey);
}
.content tbody {
background-color:var(--content-background);
border:1px solid var(--lower-grey);
}
.content th {
border:1px dotted var(--lower-grey);
padding:5px;
background-color:var(--box-background);
width:25%;
}
.content td {
font-family:sans-serif;
font-size:smaller;
border:1px solid var(--lower-grey);
padding:5px;
text-align:right;
}

.footnote, .footnotes {
	font-size: smaller;
}

a.footnote {
	background-color: var(--footnote-mark);
	vertical-align: baseline;
	position: relative;
	bottom: 0.5em;
}

a.footnote:before {
	content: "{";
}

a.footnote:after {
	content: "}";
}

a.reversefootnote {
	background-color: var(--footnote-mark);
}

/* */
